.background-news {
    background-color: #d8fcff;
    height: 100vh;

    padding-top: 20px;
    
    .text-news {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 20px;
        background: #d8fcff;
    }
}