$fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

.register-background {
    height: 100vh;
    background: linear-gradient(135deg, #a55eea 0%, #4b7bec 100%);
    img {
        border-radius: 10px;
        position:absolute;
        margin: auto;
        margin-left:5%;
        top:0;
        bottom:0;
        right: 0;
        left:0;
        width: 50%;
        height: 80%;
      }
    .register-container {
        width: 400px;
        border-radius: 10px;
        background-color: white;
        position:absolute;
        margin: auto;
        margin-right: 9%;
        top:0;
        bottom:0;
        right: 0;
        left:0;
        height: 460px;

        .register-content {
            padding: 10px;
 
            .text-register {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
                padding-bottom: 5px;
            }
            
            .register-input {
                margin: 6px 0;

                .costum-input-pw {
                    position: relative;
                    i {
                        position: absolute;
                        right:10px;
                        top:10px;
                        cursor: pointer;
                    }
                }
                .costum-input-phone {
                    position: relative;
                    i {
                        position: absolute;
                        right:25px;
                        top:2px;
                        
                    }
                }
                
            }
        
            .sex {
                color: #333;
                font-size: 16px;
                padding-top:5px;
                padding-bottom: 10px;
                .flabel {
                    float: left;
                    margin-right: 20px;
                    margin-left: 10px;
                }
                label {
                    float: left;
                    margin-left: 5px;
                    margin-right: 25px;
                    font-weight: bold;
                }
                input {
                    margin-right: 3px;
                    border: 0 none;
                }
                
            }
            

            .btn-register {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius:  15px;
                outline: none;
                border: none;
                color: white;
                margin-top: 5px;
                background: linear-gradient(135deg, #a55eea 0%, #4b7bec 100%);
            }

            .already {
                font-size: 14px;
            }

            // .social-register { 
            //     display: flex;
            //     text-align: center;
            //     justify-content: center;
            //     margin-top: 10px;
            //     .google {
            //         font-size:  30px;
            //         background: blue;
            //         border-radius: 50%;
            //         height: 50px;
            //         width: 50px;
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         color: white;
            //         margin-right: 10px;
            //     }
            //     .facebook {
            //         font-size:  30px;
            //         background: red;
            //         border-radius: 50%;
            //         height: 50px;
            //         width: 50px;
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         color: white;
            //     }
            // }
        }
    }
}