.login-background {
    position:absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #a55eea 0%, #4b7bec 100%);

    img {
        resize: both;
        border-radius: 10px;
        position:absolute;
        margin: auto;
        margin-left:3%;
    
        top:57px;
        bottom:0;
        right: 0;
        left:0;
        width: 650px;
        height: 480px;
        
      }
    .login-container {
        width: 400px;
        border-radius: 10px;
        background-color: white;
        position:absolute;
        margin: auto;
        margin-right: 3%;
        top:45px;
        bottom:0;
        right: 0;
        left:0;
        height: 357px;

        .login-content {
            padding: 10px;
 
            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
                padding-bottom: 5px;
            }
            
            .login-input {
                margin: 7px 0;
                input {
                    height: 38px;
                    width: 97%;
                    border-radius: 10px;
                    font-size: 15px;
                    border:solid 1px #ccc; 
                    margin: 3px;
                    text-indent: 10px;
                        
                }
                ::placeholder {
                    color: rgba(44, 47, 54, 0.772);
                  }
                .costum-input-pw {
                    position: relative;
                    i {
                        position: absolute;
                        right:10px;
                        top:10px;
                        cursor: pointer;
                    }
                    img {
                        position: absolute;
                        height: 25px;
                        width: 25px;
                        margin-left: 89%;
                        margin-bottom: 22px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius:  15px;
                outline: none;
                border: none;
                color: white;
                margin-top: 5px;
                background: linear-gradient(135deg, #a55eea 0%, #4b7bec 100%);
            }

            .already {
                font-size: 14px;
                text-align: center;
                .switch
                {
                    cursor: pointer;
                    text-decoration:underline;
                }

            }
            .text-other-login {
                font-size: 16px;
                text-align: center;
                margin-top: 5px;
            }
            .social-login { 
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;
                font-size:17px;
                .icon {
                    margin-top: 2px;
                    margin-left: 27px;
                .google {
                    font-size:  30px;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-left: 20%;
                    margin-bottom:45px;
                }
                .facebook {
                    font-size:  30px;
                    height: 25px;
                    width: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-left: 20%;
                    margin-bottom: 18px;
                }}
            }
        }
    }
}